<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vinyl Vault{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'collection/css/styles.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'album_create' %}">Add Album</a></li>
                <li>Welcome, {{ user.username }}</li>
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link" style="border: none; background: none; color: white; cursor: pointer;">
                            Logout
                        </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Vinyl Vault</p>
    </footer>
</body>
</html>
